version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis-node
    ports:
      - "6380:6379"
    volumes:
      - redis_data_node:/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-node
    ports:
      - "5673:5672"
      - "15673:15672"
    volumes:
      - rabbitmq_data_node:/var/lib/rabbitmq

volumes:
  postgres_data:
  redis_data_node:
  rabbitmq_data_node:
